
# Installer logs
# Packages
# Unit test / coverage reports
#Mr Developer
#Translations
*.egg
*.egg-info
*.mo
*.py[co]
*.swp
.DS_Store
.coverage
.dev_activate
.installed.cfg
.mr.developer.cfg
.tox
.vagrant
bin/krenew
bin/mvim
build
develop-eggs
dist
eggs
parts
pip-log.txt
sdist
var
vim/.netrwhist
.idea/